@charset "UTF-8";
html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.header {
  background-color: #212121;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 40px;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__menu ul li:first-child {
  margin-right: 2rem;
  padding-right: 2rem;
  border-right: 1px solid #757575;
}

.header__menu ul li a {
  font-weight: 400;
  font-size: 1.2rem;
  color: #b0b0b0;
  text-transform: uppercase;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.header__menu ul li a:hover {
  color: #ffffff;
}

.header__login ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__login ul li:nth-child(2), .header__login ul li:nth-child(3) {
  margin-left: 2rem;
  padding-left: 2rem;
  border-left: 1px solid #757575;
}

.header__login ul li:last-child > a {
  color: #ff6700;
}

.header__login ul li a {
  font-weight: 400;
  font-size: 1.2rem;
  color: #b0b0b0;
  text-transform: uppercase;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.header__login ul li a:hover {
  color: #ffffff;
}

.header__login ul li a i {
  margin-right: 1rem;
}

.feature {
  margin-top: 2rem;
}

.feature__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.feature__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.feature__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.feature__menu ul li {
  cursor: pointer;
  margin-left: 5rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #616161;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.feature__menu ul li:first-child {
  margin-left: 10rem;
}

.feature__menu ul li:hover {
  color: #ff6700;
}

.feature form {
  border: 1px solid #ffffff;
  background-color: #f2f1f6;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.feature form input {
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #616161;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 1.5rem;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.feature form input:hover {
  opacity: 0.6;
}

.feature form button {
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 0;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.feature form button:hover {
  color: #ff6700;
}

.banner {
  margin-top: 2rem;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.banner__item {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all ease-in-out 900ms;
  -webkit-transition: all ease-in-out 900ms;
  -moz-transition: all ease-in-out 900ms;
  -o-transition: all ease-in-out 900ms;
}

.banner__btn {
  width: 4rem;
  height: 4rem;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2000;
  opacity: 0.8;
  cursor: pointer;
  outline: none;
}

.banner__btn:hover {
  opacity: 0.9;
}

.banner__btn-prev {
  left: 1rem;
  background-image: url(../image/banner/prev.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.banner__btn-next {
  right: 1rem;
  background-image: url(../image/banner/next.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.banner #ban1 {
  background-image: url(../image/banner/banner_1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner #ban2 {
  background-image: url(../image/banner/banner_2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner #ban3 {
  background-image: url(../image/banner/banner_3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  margin-top: 5rem;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-category {
  margin-top: 7rem;
  width: 300px;
  background-color: #212121;
}

.main-category__title {
  background-color: #ff6700;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 2rem;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 10px rgba(255, 255, 255, 0.15);
          box-shadow: 0 2px 10px rgba(255, 255, 255, 0.15);
}

.main-category__list {
  padding: 0 2rem;
}

.main-category__list li {
  margin: 2rem 0;
}

.main-category__list li a {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  margin-left: 2rem;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.main-category__list li a i {
  color: #ffffff;
  margin-right: 1rem;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.main-category__list li a:hover,
.main-category__list li a:hover > i {
  color: #ff6700;
}

.main-product {
  width: 920px;
  min-height: 100vh;
  position: relative;
}

.main-product__title {
  font-size: 3rem;
  text-align: center;
  color: #616161;
  font-weight: 400;
  height: 5rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}

.main-product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-product__list li {
  padding: 1rem;
  margin: 0 1rem;
  width: calc(33.33% - 2rem);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.main-product__list li:nth-child(1), .main-product__list li:nth-child(2), .main-product__list li:nth-child(3) {
  margin-bottom: 2rem;
}

.main-product__list li a img {
  height: 250px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-product__list li a .name {
  font-size: 1.4rem;
  font-weight: 400;
  color: #616161;
  padding-top: 3rem;
  text-align: center;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.main-product__list li a .name:hover {
  color: #ff6700;
}

.main-product__list li a .price {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ff6700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.main-product__list li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.main-product .page {
  font-size: 1.6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  color: #616161;
  position: absolute;
  bottom: -8rem;
  right: 2rem;
}

.main-product .page p:first-child {
  margin-bottom: 1rem;
}

.main-product .page p:last-child > span {
  color: #ff6700;
  margin-left: 1rem;
}

.main-product .page a {
  color: #616161;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border-right: 1px solid #b0b0b0;
  display: inline-block;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.main-product .page a:hover {
  color: #ff6700;
}

.main-product .page a:first-child {
  border-left: 1px solid #b0b0b0;
  margin-left: 2rem;
}

.main .cart {
  background-color: #F8F9FA;
}

.main .cart-information {
  background-color: #ffffff;
  border: 1px solid rgba(158, 144, 144, 0.15);
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .cart-information__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .cart-information__item p {
  font-size: 2rem;
  font-weight: 500;
  color: #ff6700;
  margin-left: 2rem;
  line-height: 5.5rem;
  padding-left: 2rem;
  border-left: 2px solid #ff6700;
}

.main .cart-information h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #ff6700;
}

.main .cart-title {
  border: 1px solid rgba(158, 144, 144, 0.15);
  border-radius: 1rem;
  background-color: #ffffff;
  margin-top: 3rem;
  padding: 2rem;
}

.main .cart-title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .cart-title ul li {
  font-size: 1.6rem;
  font-weight: 600;
  color: #616161;
}

.main .cart-title ul li:nth-child(1) {
  width: 40%;
}

.main .cart-title ul li:nth-child(2), .main .cart-title ul li:nth-child(3), .main .cart-title ul li:nth-child(4), .main .cart-title ul li:nth-child(5) {
  width: 15%;
  text-align: center;
}

.main .cart-product {
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid rgba(158, 144, 144, 0.15);
  border-radius: 1rem;
  background-color: #ffffff;
}

.main .cart-product ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(158, 144, 144, 0.15);
}

.main .cart-product ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
}

.main .cart-product ul li .name {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .cart-product ul li .name img {
  width: 50%;
}

.main .cart-product ul li .name p {
  width: 50%;
  font-size: 1.5rem;
  font-weight: 400;
  color: #616161;
}

.main .cart-product ul li .price,
.main .cart-product ul li .amount,
.main .cart-product ul li .money,
.main .cart-product ul li .delete {
  width: 15%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  color: #616161;
}

.main .cart-product ul li .price span {
  text-decoration: line-through;
  margin-bottom: 1rem;
  display: block;
  color: #b0b0b0;
}

.main .cart-product ul li .amount a {
  color: #ff6700;
}

.main .cart-product ul li .amount p > a:first-child {
  margin-right: 2rem;
}

.main .cart-product ul li .amount p > a:last-child {
  margin-left: 2rem;
}

.main .cart-product ul li .amount .none {
  pointer-events: none;
  cursor: default;
  position: relative;
  color: #212121;
}

.main .cart-product ul li .amount .none:before {
  content: "Số lượng hàng trong kho không đủ";
  position: absolute;
  top: -3rem;
  left: -6rem;
  width: 20rem;
  color: #ff6700;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.main .cart-product ul li .delete > a {
  color: #ff6700;
}

.main .cart-product ul li .delete > a:hover {
  text-decoration: underline;
}

.main .cart-pay {
  border: 1px solid rgba(158, 144, 144, 0.15);
  border-radius: 1rem;
  background-color: #ffffff;
  margin-top: 2rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .cart-pay p:nth-child(1) {
  color: #616161;
  font-size: 2rem;
  font-weight: 400;
  margin-right: 2rem;
}

.main .cart-pay p:nth-child(2) {
  cursor: pointer;
  color: #ff6700;
  font-size: 2.5rem;
  font-weight: 500;
  margin-right: 2rem;
}

.main .cart-pay p:nth-child(2):hover {
  text-decoration: underline;
}

.main .cart-pay a {
  background-color: #ff6700;
  color: #ffffff;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.main .cart-pay a:hover {
  opacity: 0.6;
}

.main-detail__link {
  font-size: 1rem;
  color: #616161;
  font-weight: 400;
}

.main-detail__link a {
  font-size: 1.4rem;
  color: #ff6700;
  font-weight: 400;
}

.main-detail__link a:hover {
  text-decoration: underline;
}

.main-detail__name {
  font-size: 2.5rem;
  color: #616161;
  font-weight: 600;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #b0b0b0;
}

.main-detail__name span {
  font-size: 1.5rem;
  font-weight: 400;
  color: #b0b0b0;
  margin-left: 2rem;
}

.main-detail__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 1rem;
  height: 250px;
}

.main-detail__left {
  width: 45%;
  padding: 1rem;
  text-align: center;
}

.main-detail__left img {
  margin: 0 auto;
  height: 25rem;
}

.main-detail__left p {
  background-color: #f5f5f5;
  border: 1px solid rgba(158, 144, 144, 0.15);
  min-height: 250px;
  padding: 2rem;
  margin-top: 3rem;
  text-align: left;
  line-height: 2rem;
}

.main-detail__left p span {
  background-color: #E9ECEF;
  font-size: 1.4rem;
  color: #616161;
  font-weight: 600;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  margin-top: -2rem;
  margin-left: -2rem;
  margin-bottom: 1rem;
}

.main-detail__right {
  width: 55%;
  padding-top: 3rem;
}

.main-detail__information-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-detail__information-product > p:first-child {
  font-size: 3rem;
  color: #ff6700;
  font-weight: 500;
}

.main-detail__information-product > p:first-child span {
  font-size: 2.3rem;
  color: #b0b0b0;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 1rem;
}

.main-detail__information-product > p:last-child {
  font-size: 2rem;
  color: #616161;
  font-weight: 300;
}

.main-detail__information-product > p:last-child span {
  font-weight: 500;
  margin-left: 0.5rem;
}

.main-preferential {
  background-color: #f5f5f5;
  border: 1px solid rgba(158, 144, 144, 0.15);
  margin-top: 3rem;
}

.main-preferential > p:first-child {
  background-color: #E9ECEF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.4rem;
  color: #616161;
  font-weight: 600;
  padding: 0.5rem;
}

.main-preferential > p:nth-child(2),
.main-preferential > p:nth-child(3) {
  padding: 1rem;
  font-size: 1.3rem;
  color: #616161;
  font-weight: 400;
}

.main-preferential > p:nth-child(2) i,
.main-preferential > p:nth-child(3) i {
  color: green;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.main-formality {
  margin-top: 10rem;
}

.main-formality ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-formality ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-formality ul li:first-child {
  margin-bottom: 1rem;
}

.main-formality ul li img {
  height: 5rem;
  border: 1px solid #ccc;
  padding: 0.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.main-formality ul li p {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #616161;
  font-weight: 400;
}

.main-formality ul li p span {
  display: block;
  font-size: 1.4rem;
  color: #616161;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.main-pay {
  margin-top: 1rem;
}

.main-buy {
  margin-bottom: 0.5rem;
}

.main-buy a {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  background-color: #ff6700;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 300;
  border-radius: 1rem;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.main-buy a span {
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.main-buy a:hover {
  opacity: 0.8;
}

.main-installment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-installment p {
  cursor: pointer;
  background-color: #0664F9;
  width: calc(50% - 0.5rem / 2);
  text-align: center;
  padding: 1rem 0;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 300;
  border-radius: 1rem;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.main-installment p span {
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.main-installment p:hover {
  opacity: 0.8;
}

.connect {
  border-top: 1px solid #b0b0b0;
  margin-top: 10rem;
  padding: 2rem 0;
}

.connect__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.connect__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.connect__description h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #616161;
  text-transform: uppercase;
}

.connect__description p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #616161;
  margin-top: 1rem;
}

.connect__form {
  background-color: #f2f1f6;
  padding: 1rem;
  margin-left: 2rem;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.connect__form input {
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #616161;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 1.5rem;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.connect__form input:hover {
  opacity: 0.6;
}

.connect__form button {
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 0;
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.connect__form button:hover {
  color: #ff6700;
}

.connect__social {
  margin-left: 2rem;
}

.connect__social a > i {
  font-size: 2.5rem;
  color: #616161;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.connect__social a > i:hover {
  opacity: 0.6;
}

.footer {
  background-color: #212121;
  padding: 5rem 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__item {
  margin-right: 5rem;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__item a {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  color: #b0b0b0;
  margin-bottom: 1rem;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.footer__item a:hover {
  color: #ffffff;
}

.footer__item a:last-child {
  margin-bottom: 0;
}

.footer__item p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #b0b0b0;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.source {
  border-top: 1px solid #757575;
  padding: 2rem 0;
  background-color: #212121;
}

.source__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.source__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.source__item > a {
  font-size: 1.4rem;
  font-weight: 400;
  color: #b0b0b0;
  margin-bottom: 1rem;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.source__item > a:hover {
  color: #ffffff;
}

.source__item > p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #b0b0b0;
}

.source__item-social > a {
  font-size: 1.4rem;
  font-weight: 400;
  color: #b0b0b0;
  margin-right: 2rem;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
}

.source__item-social > a:hover {
  color: #ffffff;
}

.source__item-social > a:last-child {
  margin-right: 0;
}

.relate {
  background-color: #F8F9FA;
  padding: 3rem 0;
}

.relate__inner {
  background-color: #ffffff;
  border: 1px solid rgba(158, 144, 144, 0.15);
  border-radius: 1rem;
  padding: 1rem 1rem 2rem 1rem;
}

.relate__inner > p:first-child {
  font-size: 3rem;
  color: #616161;
  font-weight: 400;
  height: 5rem;
  line-height: 5rem;
}

.relate__product {
  margin-top: 1rem;
}

.relate__product ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.relate__product ul li {
  margin: 0 1rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: calc(20% - 2rem);
  text-align: center;
}

.relate__product ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.relate__product ul li a img {
  height: 300px;
}

.relate__product ul li a .name {
  font-size: 1.3rem;
  color: #616161;
  font-weight: 400;
  -webkit-transition: color 0.25s linear;
  transition: color 0.25s linear;
  margin-top: 1.5rem;
}

.relate__product ul li a .name:hover {
  color: #ff6700;
}

.relate__product ul li a .price {
  font-size: 1.1rem;
  font-weight: 400;
  color: #ff6700;
  margin-top: 0.5rem;
}

.logo {
  height: 5.5rem;
}

.login-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 2rem 0;
}

.login-header__item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.login-header__item ul li:nth-child(1) > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.login-header__item ul li:nth-child(1) > a img {
  height: 4rem;
}

.login-header__item ul li:nth-child(1) > a p {
  font-size: 2rem;
  color: #ff6700;
  font-weight: 500;
  margin-left: 1rem;
}

.login-header__item ul li:nth-child(2) {
  font-size: 1.6rem;
  color: #616161;
  font-weight: 500;
  margin-left: 2rem;
}

.login-header__item > a {
  font-size: 1.4rem;
  color: #ff6700;
  font-weight: 400;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.login-header__item > a:hover {
  opacity: 0.6;
}

.login-main {
  background-color: #ff6700;
  padding: 5rem 0;
}

.login-main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.login-main__logo {
  text-align: center;
  width: 60%;
}

.login-main__logo img {
  height: 50rem;
  margin: 0 auto;
}

.login-main__logo h1 {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 600;
  margin-top: -18rem;
}

.login-main__logo p {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 4rem;
}

.login-main__logo p span {
  display: block;
  margin-bottom: 1rem;
}

.login-main__form {
  width: 40%;
}

.login-main__form .form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
}

.login-main__form .heading {
  color: #616161;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 400;
}

.login-main__form .desc {
  color: #b0b0b0;
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 400;
}

.login-main__form .spacer {
  margin-top: 5rem;
}

.login-main__form .form-label {
  display: block;
  text-align: left;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #616161;
}

.login-main__form .form-control {
  width: 100%;
  padding: 1rem;
  border: 1px solid #b0b0b0;
  border-radius: 1rem;
  margin-top: 1rem;
  outline: none;
  padding: 1rem 1rem;
  font-family: "Poppins", sans-serif;
  color: #616161;
  font-size: 1.4rem;
}

.login-main__form .form-control:hover,
.login-main__form .form-control:focus {
  border: 1px solid #ff6700;
}

.login-main__form .form-submit {
  background-color: #ff6700;
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: #ffffff;
  outline: none;
  border: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.login-main__form .form-submit:hover {
  opacity: 0.6;
}

.login-main__form .notice {
  margin-top: 1rem;
  color: #616161;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.login-main__form .notice a {
  color: #ff6700;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
}

.login-main__form .notice a:hover {
  opacity: 0.6;
}

.login-main__form .form-message {
  display: block;
  color: red;
  text-align: left;
  font-size: 12px;
  padding-top: 3px;
  padding-left: 5px;
}

.login-main__form .invalid,
.login-main__form .invalid:focus,
.login-main__form .invalid:hover {
  border-color: red;
}

.notice-back {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #ff6700;
}

.notice-back__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.notice-back__inner h1 {
  font-size: 5rem;
  font-weight: 600;
  color: #ffffff;
}

.notice-back__inner p {
  font-size: 2rem;
  font-weight: 400;
  color: #212121;
  margin-top: 2rem;
}

.notice-back__inner p a {
  color: #ffffff;
}

.notice-back__inner p a:hover {
  text-decoration: underline;
}

.danh_sach_trong_title {
  font-size: 1.5rem;
  color: #616161;
  font-weight: 500;
}

.danh_sach_trong_title a {
  color: #ff6700;
}

.danh_sach_trong_title a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */